.home {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: end;

    h1 {
        @include headers;
        animation: title 3s;
    }

    button {
        @include buttons;
    }

    :nth-child(2) {
        animation: buttonOne 3s;
    }

    :nth-child(3) {
        align-self: start;
        animation: buttonTwo 3s;
    }
}

// animation
@keyframes title {
    0% {
        opacity: 0;
        color: rgba(0, 0, 0, 0);
        text-shadow: 10px 10px $primaryOrange;
        transform: translateY(-100%);
    }

    50% {
        border-bottom: 5px solid $primaryOrange;
        color: black;
    }

    100% {
        opacity: 1;
    }
}

@keyframes buttonOne {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    50% {
        background-color: black;
        color: $primaryOrange;
        box-shadow: 0 0 10px 10px;
    }

    100% {
        opacity: 1;
    }
}

@keyframes buttonTwo {
    0% {
        transform: translateX(50%);
        opacity: 0
    }

    50% {
        background-color: black;
        color: $primaryOrange;
        box-shadow: 0 0 10px 10px;
    }

    100% {
        opacity: 1;
    }
}

// responsiveness
@media (min-width: 700px) {
    .home {
        @include minWidth700px;
    }
}

@media (min-width: 1000px) {
    .home {
        @include minWidth1000px;
    }
}