.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h1 {
        font-size: 3.8rem;
        font-weight: 100;
        color: $primaryOrange;
        transform: translateY(-60%);
        border-bottom: 5px solid black;
        animation: title 3s;
    }

    button {
        font-size: 1.2rem;
        font-family: $primaryFont;
        background-color: $primaryOrange;
        border: 5px solid black;
        margin: 1rem;
        padding: 1rem 2rem;
        transform: translateY(50%);
        
        &:hover {
            cursor: pointer;
            font-size: 1.3rem;
            background-color: black;
            color: $primaryOrange;
            box-shadow: 0 0 10px 10px;
        }
    }

    :nth-child(2) {
        animation: buttonOne 3s;
    }

    :nth-child(3) {
        animation: buttonTwo 3s;
    }
}

@keyframes title {
    0% { 
      
        opacity: 0;
        color: rgba(0, 0, 0, 0);
        text-shadow: 10px 10px $primaryOrange;
    }

    50% {
        border-bottom: 5px solid $primaryOrange;
        color: black;
    }

    100% { 
        
        opacity: 1;
     }
}

@keyframes buttonOne {
    0% {
        transform: translateX(-50%); 
        opacity: 0 
    }
    
    50% { 
        background-color: black;
        color: $primaryOrange;
        box-shadow: 0 0 10px 10px;
    }
    100% { opacity: 1; }
}

@keyframes buttonTwo {
    0% {
        transform: translateX(50%); 
        opacity: 0 
    }
    
    50% { 
        background-color: black;
        color: $primaryOrange;
        box-shadow: 0 0 10px 10px;
    }
    100% { opacity: 1; }
}


// responsiveness

@media(min-width: 700px) {
    .main {

        h1 {
            font-size: 7rem;
        }

        button {
        font-size: 3rem;
        font-family: $primaryFont;
        
        &:hover {
            cursor: pointer;
            font-size: 3.2rem;
            background-color: black;
            color: $primaryOrange;
            box-shadow: 0 0 10px 10px;
        }
    }
    }
}