.results {
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
    text-align: center;

    div:nth-child(1) {
        @include titles;
        font-size: clamp(1.8rem, 6.5vmin, 7rem);
        animation: instructionTitle 1.5s ease;
        border: none;
    }

    div:nth-child(2) {
        font-size: clamp(1.2rem, 4.8vmin, 2.5rem);
    }

    button {
        @include btns;
        padding: 1rem;
        margin: 1rem;       
        animation: iconBtn 1.5s ease;

        i {
            font-size: clamp(1.2rem, 6vmin, 5rem);
        }
    }
}