// settings
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// variables
$primaryOrange: rgba(255, 140, 4, 0.9);
$primaryFont: 'Bungee Inline',
cursive;

// mixins
@mixin titles {
    font-weight: 100;
    color: $primaryOrange;
    border-bottom: 0.5rem solid black;
}

@mixin btns {
    font-family: $primaryFont;
    background-color: $primaryOrange;
    border: 5px solid black;
    margin: 1rem;
    padding: 0.5rem 2rem;

    &:hover {
        cursor: pointer;
        background-color: black;
        color: $primaryOrange;
        box-shadow: 0 0 10px 10px;
    }
}

// App
.App {
    font-family: $primaryFont;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    main {
        height: 90%;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.9);
        border: 2px solid $primaryOrange;
    }
}

// partials
@import "./home";
@import "./instructions";
@import "./game";
@import "./results";


// responsive
